In [1]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/mpg.csv')
df.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [2]:
df.pivot_table(index='origin', columns='model_year', values='horsepower').round(1)

model_year,70,71,72,73,74,75,76,77,78,79,80,81,82
origin,,,,,,,,,,,,,
europe,86.2,74.0,79.6,81.9,74.2,89.5,87.6,81.0,99.2,72.0,66.8,76.7,63.0
japan,91.5,79.2,93.8,98.5,72.5,80.2,76.5,81.2,79.2,65.0,78.8,78.3,74.0
usa,167.0,119.8,138.8,146.6,112.1,108.7,110.5,118.4,107.3,109.4,88.8,84.5,86.9

In [3]:
pivot_median_hp = df.pivot_table(index='model_year',
                               columns='origin',
                               values='horsepower',
                               aggfunc='median')
pivot_median_hp.loc[pivot_median_hp.europe > pivot_median_hp.japan,
                    ['europe', 'japan']]

origin      europe  japan
model_year
74            75.0   66.0
75            91.5   85.5
76            84.5   72.5
77            78.0   72.5
78           109.0   82.5
79            71.0   65.0
81            76.0   71.0

this comment

In [6]:
sonar_df = pd.read_csv('dataset/input_5.csv')
sonar_df.head()

   Unnamed: 0  null_deg    60_deg    90_deg   180_deg   240_deg labels
0           0  0.003734  0.331083  0.376222  0.456175  0.056430      R
1           1  0.896600  0.954655  0.576145  0.430408  0.422968      M
2           2  0.709749  0.871608  0.683438  0.869313  0.629918      M
3           3  0.530373  0.481962  0.171037  0.133341  0.015256      R
4           4  0.842670  0.620699  0.478177  0.908468  0.730154      M

In [10]:
sonar_df.pivot_table(
    index='labels',
    values='null_deg',
    aggfunc='mean'
).round(2)

        null_deg
labels
M           0.76
R           0.31