In [33]:
import pandas as pd
apt_df = pd.read_csv('dataset/input_2.txt')

In [34]:
apt_df.head()

   livingsp  nonlivingsp  totsp  price
0        63           32    NaN    159
1        35           28   63.0    104
2        71           30    NaN    109
3        61           35   96.0    135
4        36           18    NaN    147

In [35]:
totsp = apt_df['livingsp'] + apt_df['nonlivingsp']
apt_df['totsp'] = totsp
apt_df.head()

   livingsp  nonlivingsp  totsp  price
0        63           32     95    159
1        35           28     63    104
2        71           30    101    109
3        61           35     96    135
4        36           18     54    147

In [36]:
apt_df['totsp'].sum()

577

In [43]:
building_df = pd.read_csv('dataset/input_3.csv')
building_df.head()

    location  price  height
0  Skilltown    166     NaN
1  Hypercity    193    25.5
2  Skilltown    171    12.9
3  Skilltown    132    19.3
4  Hypercity    146     NaN

In [44]:
building_df.groupby('location').agg({'height': 'mean'})

           height
location
Hypercity    33.3
Skilltown    12.8

In [45]:
building_df['height'] = building_df.groupby('location')['height'].apply(lambda x: x.fillna(x.mean()))
building_df['height'].sum()

525.0

In [46]:
bld_df =pd.read_csv('dataset/input_4.csv')
bld_df.head()

    location  building_age  room_num
0        NaN            43         3
1  Hypercity            99         5
2        NaN            46         3
3    Jetburg            59         3
4  Hypercity            43         3

In [48]:
mode_loc = bld_df['location'].mode()[0]
bld_df['location'].fillna(mode_loc, inplace=True)
print(bld_df.head())

    location  building_age  room_num
0  Hypercity            43         3
1  Hypercity            99         5
2  Hypercity            46         3
3    Jetburg            59         3
4  Hypercity            43         3