In [1]:
import pandas as pd

In [2]:
general = pd.read_csv('test/general.csv')
general.head(20)

,Unnamed: 0,hospital,gender,age,height,weight,bmi,diagnosis,blood_test,ecg,ultrasound,mri,xray,children,months
0,0,general,man,33,1.64,66,24.9,cold,t,NaN,NaN,NaN,NaN,NaN,NaN
1,1,general,man,48,1.93,106,28.4,stomach,t,NaN,t,NaN,NaN,NaN,NaN
2,2,general,woman,23,1.54,63,26.8,cold,t,NaN,NaN,NaN,NaN,NaN,NaN
3,3,general,man,27,1.94,103,27.5,stomach,t,NaN,t,NaN,NaN,NaN,NaN
4,4,general,woman,22,1.76,74,24.0,dislocation,NaN,NaN,NaN,NaN,f,NaN,NaN
5,5,general,man,46,1.90,96,26.6,heart,t,t,NaN,NaN,NaN,NaN,NaN
6,6,general,woman,68,1.80,85,26.4,stomach,f,NaN,f,NaN,NaN,NaN,NaN
7,7,general,man,35,1.57,61,25.0,cold,t,NaN,NaN,NaN,NaN,NaN,NaN
8,8,general,woman,50,1.86,86,25.0,sprain,NaN,NaN,NaN,NaN,f,NaN,NaN
9,9,general,man,25,1.79,82,25.5,heart,t,t,NaN,NaN,NaN,NaN,NaN
10,10,general,man,27,1.85,86,25.2,heart,t,t,NaN,NaN,NaN,NaN,NaN
11,11,general,man,57,1.86,95,27.5,stomach,f,NaN,f,NaN,NaN,NaN,NaN
12,12,general,man,29,1.88,100,28.6,dislocation,NaN,NaN,NaN,NaN,f,NaN,NaN
13,13,general,woman,18,1.70,80,27.8,heart,f,t,NaN,NaN,NaN,NaN,NaN
14,14,general,woman,47,1.80,83,25.9,stomach,t,NaN,f,NaN,NaN,NaN,NaN
15,15,general,woman,51,1.87,103,29.5,cold,f,NaN,NaN,NaN,NaN,NaN,NaN
16,16,general,woman,56,1.56,57,23.8,fracture,NaN,NaN,NaN,NaN,t,NaN,NaN
17,17,general,woman,38,1.62,71,27.3,heart,t,t,NaN,NaN,NaN,NaN,NaN
18,18,general,woman,32,1.72,77,26.3,cold,t,NaN,NaN,NaN,NaN,NaN,NaN
19,19,general,woman,69,1.72,80,27.2,dislocation,NaN,NaN,NaN,NaN,f,NaN,NaN

In [3]:
general.isnull().sum() / general.shape[0]

Unnamed: 0    0.000000
hospital      0.000000
gender        0.000000
age           0.000000
height        0.000000
weight        0.000000
bmi           0.000000
diagnosis     0.000000
blood_test    0.156182
ecg           0.867679
ultrasound    0.663774
mri           1.000000
xray          0.843818
children      1.000000
months        0.989154
dtype: float64

In [4]:
general.isnull().any()

Unnamed: 0    False
hospital      False
gender        False
age           False
height        False
weight        False
bmi           False
diagnosis     False
blood_test     True
ecg            True
ultrasound     True
mri            True
xray           True
children       True
months         True
dtype: bool

In [5]:
general_col = general.dropna(axis=1)
general_col.head(20)

    Unnamed: 0 hospital gender  age  height  weight   bmi    diagnosis
0            0  general    man   33    1.64      66  24.9         cold
1            1  general    man   48    1.93     106  28.4      stomach
2            2  general  woman   23    1.54      63  26.8         cold
3            3  general    man   27    1.94     103  27.5      stomach
4            4  general  woman   22    1.76      74  24.0  dislocation
5            5  general    man   46    1.90      96  26.6        heart
6            6  general  woman   68    1.80      85  26.4      stomach
7            7  general    man   35    1.57      61  25.0         cold
8            8  general  woman   50    1.86      86  25.0       sprain
9            9  general    man   25    1.79      82  25.5        heart
10          10  general    man   27    1.85      86  25.2        heart
11          11  general    man   57    1.86      95  27.5      stomach
12          12  general    man   29    1.88     100  28.6  dislocation
13          13  general  woman   18    1.70      80  27.8        heart
14          14  general  woman   47    1.80      83  25.9      stomach
15          15  general  woman   51    1.87     103  29.5         cold
16          16  general  woman   56    1.56      57  23.8     fracture
17          17  general  woman   38    1.62      71  27.3        heart
18          18  general  woman   32    1.72      77  26.3         cold
19          19  general  woman   69    1.72      80  27.2  dislocation

In [6]:
general_row = general.dropna(axis=0)
general_row.head(20)

Empty DataFrame
Columns: [Unnamed: 0, hospital, gender, age, height, weight, bmi, diagnosis, blood_test, ecg, ultrasound, mri, xray, children, months]
Index: []

In [7]:
student_df = pd.read_csv('datacleanup/input.txt')
print(student_df.isnull().sum() / student_df.shape[0])
pd.options.display.float_format = '{:.2f}'.format

year      0.200000
degree    0.533333
age       0.200000
dtype: float64

In [11]:
student_age_df = pd.read_csv('datacleanup/countNan.txt')
student_age_df.isnull().any().sum()

1

In [13]:
student_rm_df = pd.read_csv('datacleanup/removeNan.txt')
student_rm_df.shape[0]

15

In [14]:
student_nonan_df = student_rm_df.dropna(axis=0)
student_nonan_df.shape[0]

7