In [1]:
import pandas as pd
penguins_df = pd.read_csv('dataset/input.csv')

In [2]:
penguins_df.head(3)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,MALE
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,FEMALE
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,FEMALE

In [4]:
penguins_df.body_mass_g.agg('median')

4050.0

In [5]:
penguins_df.agg({"bill_length_mm": ["min", "mean"],
         "flipper_length_mm": ["max", "mean"]
        })

      bill_length_mm  flipper_length_mm
min         32.10000                NaN
mean        43.92193         200.915205
max              NaN         231.000000

In [7]:
penguins_df[['bill_length_mm', 'flipper_length_mm']].agg(max, axis='columns')

0      181.0
1      186.0
2      195.0
3        NaN
4      193.0
       ...
339      NaN
340    215.0
341    222.0
342    212.0
343    213.0
Length: 344, dtype: float64

In [10]:
penguins_df.groupby('sex').agg({'bill_length_mm':'median'})

        bill_length_mm
sex
FEMALE            42.8
MALE              46.8

In [9]:
penguins_df.groupby('sex', dropna=False).agg({'bill_length_mm':'median'})

        bill_length_mm
sex
FEMALE            42.8
MALE              46.8
NaN               42.0

In [11]:
penguins_df.groupby(['island', 'sex']).agg({'bill_length_mm':'median'})

                  bill_length_mm
island    sex
Biscoe    FEMALE            44.9
          MALE              48.5
Dream     FEMALE            42.5
          MALE              49.1
Torgersen FEMALE            37.6
          MALE              41.1

In [14]:
penguins_df.groupby('island', as_index=False).agg({'species':'count'})

      island  species
0     Biscoe      168
1      Dream      124
2  Torgersen       52

In [15]:
penguins_df.groupby(['species', 'island']).agg({'flipper_length_mm': 'max'})

                     flipper_length_mm
species   island
Adelie    Biscoe                 203.0
          Dream                  208.0
          Torgersen              210.0
Chinstrap Dream                  212.0
Gentoo    Biscoe                 231.0

In [17]:
race_sample = {'Lap_1': [98109, 100573, 101467, 104196, 105340],
               'Lap_2': [93006, 93774, 93725, 94485, 95808],
               'Lap_3': [92713, 92900, 93208, 95664, 95436],
               'Lap_4': [92803, 92582, 92933, 93900, 95810]}

f1_df = pd.DataFrame(race_sample, index=['Vettel', 'Hamilton', 'Webber', 'Massa', 'Rosberg'])

In [20]:
f1_df.agg(min, axis='columns')

Vettel      92713
Hamilton    92582
Webber      92933
Massa       93900
Rosberg     95436
dtype: int64