In [86]:
import pandas as pd

In [87]:
general = pd.read_csv('test/general.csv')
prenatal = pd.read_csv('test/prenatal.csv')
sports = pd.read_csv('test/sports.csv')
pd.set_option('display.max_columns', 8)

In [88]:
# general.set_index(0, inplace=True)
# general.reset_index(inplace=True, drop=True) # deleting an index

In [89]:
columns_name = ['', 'hospital', 'gender', 'age', 'height', 'weight', 'bmi', 'diagnosis', 'blood_test', 'ecg', 'ultrasound', 'mri', 'xray', 'children', 'months']
prenatal.columns = columns_name
sports.columns = columns_name

In [90]:
hospital = pd.concat([general, prenatal, sports], ignore_index = True)
# hospital.reset_index(inplace=True, drop=True) # deleting an index
hospital.drop(columns=['Unnamed: 0', ''], inplace=True)

In [91]:
hospital.sample(n=20, random_state=30)

     hospital  gender   age  height  ...  mri  xray children months
928    sports    male  22.0   5.961  ...    t     f      NaN    NaN
926    sports    male  26.0   5.804  ...    t     f      NaN    NaN
901    sports  female  23.0   5.894  ...    t     f      NaN    NaN
87    general     man  54.0   1.720  ...  NaN   NaN      NaN    NaN
884    sports  female  20.0   6.771  ...    t     f      NaN    NaN
297   general     man  56.0   1.480  ...  NaN   NaN      NaN    NaN
112   general     man  77.0   1.690  ...  NaN   NaN      NaN    NaN
209   general     man  29.0   2.080  ...  NaN   NaN      NaN    NaN
419   general     man  53.0   1.700  ...  NaN   NaN      NaN    NaN
913    sports  female  22.0   6.435  ...    t     f      NaN    NaN
820    sports  female  17.0   5.722  ...    f     t      NaN    NaN
861       NaN     NaN   NaN     NaN  ...  NaN   NaN      NaN    NaN
10    general     man  27.0   1.850  ...  NaN   NaN      NaN    NaN
56    general     man  23.0   1.650  ...  NaN   NaN      NaN    NaN
618  prenatal     NaN  30.0   1.490  ...  NaN     f      0.0    2.0
978    sports    male  17.0   5.647  ...    f     f      NaN    NaN
373   general   woman  44.0   1.660  ...  NaN   NaN      NaN    NaN
628  prenatal     NaN  24.0   1.610  ...  NaN     f      0.0    2.0
858    sports    male  19.0   7.089  ...    f     t      NaN    NaN
944    sports  female  21.0   6.217  ...    f     t      NaN    NaN

[20 rows x 14 columns]

In [93]:
hospital.dropna(axis=0, how='all', inplace=True)

(1000, 14)

In [94]:
# hospital[['bmi', 'diagnosis', 'blood_test', 'ecg', 'ultrasound', 'mri', 'xray', 'children', 'months']].fillna(0, inplace=True)
hospital[['bmi', 'diagnosis', 'blood_test', 'ecg', 'ultrasound', 'mri', 'xray', 'children', 'months']] = hospital[['bmi', 'diagnosis', 'blood_test', 'ecg', 'ultrasound', 'mri', 'xray', 'children', 'months']].fillna(0)
hospital.sample(n=20, random_state=30)

     hospital  gender   age  height  ...  mri  xray children months
929    sports  female  23.0   6.809  ...    t     f      0.0    0.0
927    sports    male  21.0   6.052  ...    t     f      0.0    0.0
516  prenatal     NaN  20.0   1.650  ...    0     f      1.0    4.0
87    general     man  54.0   1.720  ...    0     0      0.0    0.0
885    sports  female  16.0   5.915  ...    t     f      0.0    0.0
463  prenatal     NaN  34.0   1.650  ...    0     f      1.0    5.0
112   general     man  77.0   1.690  ...    0     0      0.0    0.0
297   general     man  56.0   1.480  ...    0     0      0.0    0.0
417   general   woman  26.0   1.650  ...    0     0      0.0    0.0
660  prenatal     NaN  38.0   1.590  ...    0     f      1.0    4.0
344   general   woman  60.0   1.410  ...    0     0      0.0    0.0
834    sports  female  21.0   5.585  ...    f     t      0.0    0.0
10    general     man  27.0   1.850  ...    0     0      0.0    0.0
56    general     man  23.0   1.650  ...    0     0      0.0    0.0
616  prenatal     NaN  33.0   1.770  ...    0     f      1.0    7.0
479  prenatal     NaN  35.0   1.810  ...    0     f      1.0    8.0
578  prenatal     NaN  31.0   1.770  ...    0     f      1.0    8.0
411   general     man  26.0   1.610  ...    0     0      0.0    0.0
521  prenatal     NaN  30.0   1.740  ...    0     f      1.0    3.0
941    sports  female  25.0   6.208  ...    f     t      0.0    0.0

[20 rows x 14 columns]

In [98]:
hospital['gender'] = hospital.groupby('hospital')['gender'].fillna('f')
hospital['gender'].replace(['female', 'woman'], 'f', inplace=True)
hospital['gender'].replace(['man', 'male'], 'm', inplace=True)
hospital.sample(n=20, random_state=30)

     hospital gender   age  height  ...  mri  xray children months
929    sports      f  23.0   6.809  ...    t     f      0.0    0.0
927    sports      m  21.0   6.052  ...    t     f      0.0    0.0
516  prenatal      f  20.0   1.650  ...    0     f      1.0    4.0
87    general      m  54.0   1.720  ...    0     0      0.0    0.0
885    sports      f  16.0   5.915  ...    t     f      0.0    0.0
463  prenatal      f  34.0   1.650  ...    0     f      1.0    5.0
112   general      m  77.0   1.690  ...    0     0      0.0    0.0
297   general      m  56.0   1.480  ...    0     0      0.0    0.0
417   general      f  26.0   1.650  ...    0     0      0.0    0.0
660  prenatal      f  38.0   1.590  ...    0     f      1.0    4.0
344   general      f  60.0   1.410  ...    0     0      0.0    0.0
834    sports      f  21.0   5.585  ...    f     t      0.0    0.0
10    general      m  27.0   1.850  ...    0     0      0.0    0.0
56    general      m  23.0   1.650  ...    0     0      0.0    0.0
616  prenatal      f  33.0   1.770  ...    0     f      1.0    7.0
479  prenatal      f  35.0   1.810  ...    0     f      1.0    8.0
578  prenatal      f  31.0   1.770  ...    0     f      1.0    8.0
411   general      m  26.0   1.610  ...    0     0      0.0    0.0
521  prenatal      f  30.0   1.740  ...    0     f      1.0    3.0
941    sports      f  25.0   6.208  ...    f     t      0.0    0.0

[20 rows x 14 columns]