In [1]:
import pandas as pd

In [2]:
general = pd.read_csv('test/general.csv')
prenatal = pd.read_csv('test/prenatal.csv')
sports = pd.read_csv('test/sports.csv')
pd.set_option('display.max_columns', 8)

In [3]:
# general.set_index(0, inplace=True)
# general.reset_index(inplace=True, drop=True) # deleting an index

In [4]:
columns_name = ['', 'hospital', 'gender', 'age', 'height', 'weight', 'bmi', 'diagnosis', 'blood_test', 'ecg', 'ultrasound', 'mri', 'xray', 'children', 'months']
prenatal.columns = columns_name
sports.columns = columns_name

In [5]:
hospital = pd.concat([general, prenatal, sports], ignore_index = True)
# hospital.reset_index(inplace=True, drop=True) # deleting an index
hospital.drop(columns=['Unnamed: 0', ''], inplace=True)

In [6]:
hospital.sample(n=20, random_state=30)

     hospital  gender   age  height  ...  mri  xray children months
928    sports    male  22.0   5.961  ...    t     f      NaN    NaN
926    sports    male  26.0   5.804  ...    t     f      NaN    NaN
901    sports  female  23.0   5.894  ...    t     f      NaN    NaN
87    general     man  54.0   1.720  ...  NaN   NaN      NaN    NaN
884    sports  female  20.0   6.771  ...    t     f      NaN    NaN
297   general     man  56.0   1.480  ...  NaN   NaN      NaN    NaN
112   general     man  77.0   1.690  ...  NaN   NaN      NaN    NaN
209   general     man  29.0   2.080  ...  NaN   NaN      NaN    NaN
419   general     man  53.0   1.700  ...  NaN   NaN      NaN    NaN
913    sports  female  22.0   6.435  ...    t     f      NaN    NaN
820    sports  female  17.0   5.722  ...    f     t      NaN    NaN
861       NaN     NaN   NaN     NaN  ...  NaN   NaN      NaN    NaN
10    general     man  27.0   1.850  ...  NaN   NaN      NaN    NaN
56    general     man  23.0   1.650  ...  NaN   NaN      NaN    NaN
618  prenatal     NaN  30.0   1.490  ...  NaN     f      0.0    2.0
978    sports    male  17.0   5.647  ...    f     f      NaN    NaN
373   general   woman  44.0   1.660  ...  NaN   NaN      NaN    NaN
628  prenatal     NaN  24.0   1.610  ...  NaN     f      0.0    2.0
858    sports    male  19.0   7.089  ...    f     t      NaN    NaN
944    sports  female  21.0   6.217  ...    f     t      NaN    NaN

[20 rows x 14 columns]

In [38]:
hospital['hospital'] = hospital.groupby('hospital')