In [12]:
import pandas as pd
pd.set_option('display.max_columns', 8)

In [18]:
general = pd.read_csv('test/general.csv', index_col=0)
# general = pd.read_csv('test/general.csv')
prenatal = pd.read_csv('test/prenatal.csv', index_col=0)
sports = pd.read_csv('test/sports.csv', index_col=0)

In [19]:
# general.set_index(0, inplace=True)
# general.reset_index(inplace=True, drop=True) # deleting an index

In [20]:
display_limit = 20

general.head(display_limit)
prenatal.head(display_limit)
sports.head(display_limit)

   Hospital Male/female   age  height  ...  mri  xray children  months
0    sports      female  20.0   5.871  ...    t     f      NaN     NaN
1    sports      female  20.0   6.665  ...    f     t      NaN     NaN
2    sports        male  16.0   6.960  ...    f     t      NaN     NaN
3    sports        male  17.0   7.128  ...    t     f      NaN     NaN
4    sports        male  19.0   5.993  ...    f     t      NaN     NaN
5       NaN         NaN   NaN     NaN  ...  NaN   NaN      NaN     NaN
6    sports      female  14.0   5.793  ...    t     f      NaN     NaN
7    sports      female  22.0   7.351  ...    t     f      NaN     NaN
8    sports      female  21.0   6.059  ...    f     t      NaN     NaN
9    sports      female  18.0   5.338  ...    t     f      NaN     NaN
10   sports        male  12.0   6.164  ...    f     t      NaN     NaN
11   sports        male  15.0   6.181  ...    f     t      NaN     NaN
12   sports      female  22.0   6.140  ...    f     f      NaN     NaN
13   sports      female  19.0   5.929  ...    f     t      NaN     NaN
14   sports      female  16.0   6.446  ...    f     t      NaN     NaN
15   sports      female  19.0   6.592  ...    f     t      NaN     NaN
16   sports        male  18.0   6.746  ...    f     t      NaN     NaN
17   sports      female  18.0   6.083  ...    t     f      NaN     NaN
18   sports        male  19.0   6.968  ...    f     t      NaN     NaN
19   sports      female  17.0   6.183  ...    t     f      NaN     NaN

[20 rows x 14 columns]

In [21]:
general.axes[1]

Index(['hospital', 'gender', 'age', 'height', 'weight', 'bmi', 'diagnosis',
       'blood_test', 'ecg', 'ultrasound', 'mri', 'xray', 'children', 'months'],
      dtype='object')

In [22]:
general.index

Int64Index([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,
            ...
            451, 452, 453, 454, 455, 456, 457, 458, 459, 460],
           dtype='int64', length=461)